
/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .producto .producto-blanco .producto-precio {
      flex-direction: column;
    }
  }

html{
    box-sizing: border-box;
    font-size: 60.5%;
}
body{
    margin: 0;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.img-fondo{
background-image: url(/IMG/tienda.jpg);
}
img{
    width: 100%;
    height: 100%;
}
.logo-img{
    width: 450px;
    height: 400px;
}
.velo-negro{
    background-color:rgb(255, 255, 255);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}

nav{
    margin: 3rem 0 8rem 0;
    background-color: rgba(255, 224, 165, 0.768);
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
a{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}
a:before,
a:before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: rgb(0, 0, 0);
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(0, 0, 0);
}

.nustros-productos{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.producto{
    background-color: rgb(255, 217, 152);;
    margin: 2rem;
    padding: 2rem;
    width: 100%;
}

.producto-blanco{
    background-color: rgb(0, 0, 0);
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
    
}

.producto-precio,
.producto-nombre{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: unset;
    text-align: center;
}

.producto-precio{
    font-size: 2.5rem;
    font-weight: 500;
}
.producto-nombre{
    font-size: 3rem;
    font-weight: 800;
}

.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.nosotros{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10rem;
margin-bottom: 20rem;

}
.nosotros-texto{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-img{
    background-color: white;
    border-radius: 5%;
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;
    width: 100%;
    max-width: 420px;
}

.bloques img{
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
}
.bloque-titulo{
    margin:0;
}

.bloque{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}
.bloque-titulo{
    color: rgb(98, 76, 42);
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.enlace-footer:hover{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {background-color: rgb(0, 0, 0);
    width: 100%;
    object-fit: contain;
    padding: 1rem;

}